@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
}

.App {
  text-align: center;
}

body {
  margin:0;
  padding:0; 
}

