.buttonRed{
  position: absolute;
  margin-left: 75%;
  margin-top: 570px;
  /* margin-top: 50%; */
}
.greenRed{
  position: absolute;
  margin-left: 75%;
  margin-top: 500px;
}
.littleContainer{
  position: absolute;
  margin-top: 50px !important;
  margin-left: 75% !important;
  min-height: 150px;
  width: 20%;
  margin: 30px;
  padding: 10px;
  min-width: 100px;
  background-color: transparent !important;
  background-color: rgba(255, 255, 255, 0.87);
}
p{
  font-size: medium;
}

.title{
  color: #a3de83;
  font-size: 25px;
  padding: 10px;
}
.bounds{
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 50px 50px;
}
