.gardenBed{
  background: linear-gradient(to bottom right, #2eb872, #a3de83) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* .whiteButtonOnGarden{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
