/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC'); */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.bar {
  color: #feffe4 !important;
  background: linear-gradient(to top, #2eb872, #a3de83) !important;
  height: 80px;
}

.main {
  height: 100%;
}
/* .titleWord{
  font-family: 'Amatic SC', cursive !important;
  src: url('https://fonts.googleapis.com/css2?family=Amatic+SC');
} */

.link {
  text-decoration: none;
}

.logoIcon {
  width: 50px;
}

.logoText {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

.wrapperLogo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
<<<<<<< HEAD
=======
  align-items: center;
>>>>>>> 9b565eab02472b127d71c46bf30612310f90e067
}
